@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello World!</h1>
    <p>Welcome to the Greeter - .NET</p>
    <nav>
        <a href="/todos">Todo Manager</a>
    </nav>
</div>
